/* ///////////////////////font//////////////////////// */

#root {
    font-family: 'Poppins', sans-serif;
}

/* ///////////////////////////////// navbar ////////////////////// */

.navbarSS {
    z-index: 100;
    position: fixed;
    width: 50%;
    border-radius: 50px;
    top: 20px;
    left: 0;
    position: sticky;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 7px #757575;
    min-width: 500px;
    max-width: 600px;
}

.nav-item {
    cursor: pointer;
}
.nav-item :hover{
    color: rgb(1, 144, 92);
    /* background-color: #757575; */
    border-radius: 50px;
}
.navS {
    gap: 20px;
    /* min-width: 90%; */
}

@media screen and(max-width: 720px){
    .navS{
        min-width: 80%
    }
}
@media screen and(max-width: 480px){
    .navS{
        min-width: 90%;
    }
}

/* ////////////////////////////////////// home /////////////////////////////// */
.home {
    display: flex;
    justify-content:center;
}
.homeBase{
    background-color: #ffffff;

}

.socialIcons{
}
.mx-3 {
    cursor: pointer;
    font-size: 30px;
    list-style: none;
}

.essam {
    border-radius: 25px;
    /* border: 3px solid; */
    width: 250px;
    padding-top: 10px;

}

.sectionMainName {
    font-size: 50px;
    font-weight: 900;
}

.subName {
    color: rgb(94, 94, 94);
}

.button {
    width: 190px;
    height: 50px;
    border-radius: 20px;
}
.fa-brands{
    color: rgb(36, 36, 36);
}
.wave{
    color: gold;
}
.downloadbtnn{
}
/* ////////////////////////////////////////////skills//////////////////////////////////// */
.skills{
    background-color: #d4d4d5;
    /* background-color: #00AEFF; */
}
.skillColumns{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}
.skillColumn{
    color: rgb(60, 60, 60);
    /* margin-right: 10px; */
    /* margin-bottom: 5px; */
}
.skillCard{
    border-radius: 15px;
    justify-content: center;
}


/* ////////////////////////////////////////////services/////////////////////////////////////////////// */
.services{
    /* background-color: #00008B; */
    background-color: #B5A642;
    /* background-color: #F5F5DC; */
    /* background-color: #FDD02E; */
}

/* //////////////////////////////////////// footer i think /////////////////////////////////////////////// */
.footer{
    background-color: #ffffff;
}
.FSection {
    /* list-style: none; */
    /* gap: 20px; */
    /* justify-content: center; */
}

.Fsector {
    /* list-style: none; */
}

.Ficon {
    justify-content: center;
}
    /* //////////////////////////////////////// contact /////////////////////////////////////////////// */
    .contactS{
        background-color: #BCC6BB;        
        /* background-color: #C95133;         */
    }

.icon{
        font-size: 30px;
    }

/* /////////////////////////////////////////////portfolio///////////////////////////////////////////// */
.portS{
    /* background-color: #008080; */
    background-color: #d4d4d5;
    /* background-color: #edeeef; */
}
.cardPortfo{
    border-radius: 10px;
}
.card-img-top{
    border-radius: 20px;
}
.card-img{
    border-radius: 50px;
}
/* //////////////////////////////////////up////////////////////////// */
.up-button{
    position: fixed;
    z-index: 100;
    bottom: 60px ;
    right: 50px;
    height: 60px;
    width: 50px;
}
/* ///////////////////////////////////education//////////////////////////////////// */
.eduSS{
    background-color: #BCC6BB;
}